<!DOCTYPE html>
<html>
<head>
    <title>
        User Feed
    </title>
    <link rel="stylesheet" href="../styles/feed.css"/>
</head>

<body>
    <p>Here is your feed: {{data[0]}}</p>
    <table>
        {% for post in data[1:] %}
        <tr>
            <td>{{post[1]}}</td>
            <td>Likes: {{post[3]}}</td>
            <td><a href="http://127.0.0.1:5001/posts/{{ post[2] }}">{{post[5]}}</a></td>
            <td>{{post[4]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>