<!DOCTYPE html>
<html>
<head>
    <title>
        User Feed
    </title>
    <link rel="stylesheet" href="../styles/feed.css"/>
    <script src="https://code.jquery.com/jquery-git.js"></script>
    <script src="../scripts/pagination.js"></script>
    <script src="../scripts/voting.js"></script>
</head>

<body>
<a href="/{{data[2]}}/feed"><img src={{ url_for('static', filename='data/banana.png') }}/></a>
    <p id = "here">Here is your feed: <a href="/{{ data[2] }}/profile">{{data[1]}}</a></p>
    {% for post in data[3:] %}
    <div class="card" id="{{ post[2] }}">
        <div id="buttonContainer">
            <button type="button" class="likeButton" id="up">Like</button>
            <p class="likes">0</p>
            <button type="button" class="likeButton" id="down">Dis</button>
        </div>
        <div class="container">
            <h3><a href="/{{data[0]}}/posts/{{post[2]}}"><b>{{post[5]}}</b></a></h3>
            <hr>
            <p>{{post[4]}}</p>
            <p>
                <small>{{post[1]}}</small>
            </p>

        </div>
    </div>
    {% endfor %}
    <div id = "pagination">
        {% if data[0]|int > 1 %}
            {% for i in range(data[0]|int) %}
            <button type="button" id={{i}} class="pageButton">{{i + 1}}</button>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>