<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="../styles/loginStyle.css"/>
</head>
<body>
    <div id="colorBox2"></div>
    <div id="colorBox3"></div>
    <div id="colorBox1"></div>
    <div id="colorBox4"></div>
    <div id="loginBox">
        <p id="signIn">Sign in</p>
        <form>
            <label for="user" id="userLabel">Username:</label>
            <input type="text" id="user" name="user" placeholder="Username">
            <label for="pass" id="passLabel">Password:</label>
            <input type="text" id="pass" name="user" placeholder="Password">
            <input type="submit" id="submit" value="submit">
        </form>
        <div id="partition">
            <div id="regBox">
            <p id="regMsg">Don't have an account? <a href="registration.html" id="regLink">Register</a></p>
            </div>
        </div>
    </div>

</body>
</html>