<!DOCTYPE html>
<html>
<head>
    <title>
        {{data[1][5]}}
    </title>
    <link rel="stylesheet" href={{ url_for('static', filename='styles/profile.css') }}/>
</head>

<body>
    <p>Here is the post</p>
        {% for post in data[1:] %}
        <div class="card" id="{{ post[2] }}">
            <div class="container">
                <h3><a href="http://127.0.0.1:5001/{{ data[0] }}/posts/{{ post[2] }}"><b>{{post[5]}}</b></a></h3>
                <hr></hr>
                <p>{{ post[4] }}</p>
                <p><small>{{ post[1] }}</small>
            </div>
        </div>
        {% endfor %}

</body>

</html>